body {
    background-color: blue;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;

}

header {
    font-size: 60px;
    padding: 6px;
    text-align: center;
}

h1 {
    font-size: 30px;
    border-bottom: double 5px purple;
text-align: center;                                                                                       

}

p {
    font-size: 20px;
    text-align: center;
}

iframe, video {
    diplay: block;
    margin: 0 auto;
    width: 80%;
    max-width: 700px;
}